/* General formatting */
body {
    padding: 0 10px;
    font: 18px/1.5 -apple-system, BlinkMacSystemFont, "avenir next",avenir, "Segoe UI", "lucida grande", "helvetica neue", helvetica, "Fira Sans",roboto, noto, "Droid Sans", cantarell, oxygen, ubuntu, "franklin gothic medium", "century gothic", "Liberation Sans",
    sans-serif;
}

h1, h2, h3 {
    line-height: 1.2
}

em {
    font-style: normal;
}

/* Fork on GitHub ribbon via https://codepo8.github.io/css-fork-on-github-ribbon/# styling */
#forkongithub a{
    background:#00F;
    color:#fff;
    text-decoration:none;
    font-family:arial,sans-serif;
    text-align:center;
    font-weight:bold;
    padding:5px 40px;
    font-size:1rem;
    line-height:1.4rem;
    position:relative;
    transition:0.5s;
}
#forkongithub a:hover{
    background:#118;
    color:#fff;
}
#forkongithub a::before,#forkongithub a::after{
    content:"";
    width:100%;
    display:block;
    position:absolute;
    top:1px;
    left:0;
    height:1px;
    background:#fff;
}
#forkongithub a::after{
    bottom:1px;
    top:auto;
}
@media screen and (min-width:1000px){
    #forkongithub{
        position:fixed;
        display:block;
        top:0;
        right:0;
        width:200px;
        overflow:hidden;
        height:200px;
        z-index:9999;
    }
    #forkongithub a{
        width:200px;
        position:absolute;
        top:60px;
        right:-60px;
        transform:rotate(45deg);
        -webkit-transform:rotate(45deg);
        -ms-transform:rotate(45deg);
        -moz-transform:rotate(45deg);
        -o-transform:rotate(45deg);
        box-shadow:4px 4px 10px rgba(0,0,0,0.8);
    }
}

/* Styling for the stations bar chart */
.bar {
    fill: #7570B3;
}

.bar.subscriber {
    fill: #e9a3c9;
}

.bar.customer {
    fill: #a1d76a;
}

.x.axis {
    font-size: 12px;
}

.y.axis {
    font-size: 12px;
}

text {
    font-size: 16px;
}

/* Styling for the selected data points in the scatterplot */
.selected {
    fill: purple;
    stroke: purple;
}

circle {
    fill: white;
    stroke: #0571b0;
    stroke-width: 5;
    r: 5;
}

/* Styling for the visualization annotations */
.vis-explanation {
    font-size: 16px;
    text-align: center;
}

.chartTitle {
    fill: black;
    font-size: 22px;
}

.map-caption {
    max-width: 1000px;
    margin: 40px auto;
}

/* Styling for the age demographic line chart */
.svg-vis-demographics-line {
    margin: auto
}

.linePath {
    stroke: #0571b0;
    fill: none;
    stroke-width: 5px;
}

/* Styling for the gender double bar chart */
#gender {
    display: block;
    margin-left: 105px;
}

/* Styling for the membership double bar chart */
#users {
    display: block;
    margin-left: 105px;
}

/* Styling for the tooltip on stations bar charts */
.toolTip {
  position: absolute;
  text-align: center;
  max-width: 120px;
  max-height: 65px;
  padding: 8px;
  border: none;
  border-radius: 8px;
  margin-top: -30px;
  font: 12px sans-serif;
  background: black;
  color: white;
  pointer-events: none;
}

/* Styling for leaflet map */
#map {
    height: 300px;
    width: 1000px;
    margin: auto;
    display: block;
}

/* Styling for the ending stations bar chart */
#chester_square_end_trips {
    display: none;
    margin: 105px;
}

/* Styling for the starting stations bar chart */
#chester_square_start_trips {
    margin: 105px;
    display: block;
}

/* Styling for the stations toggle button */
.trip-toggle-button {
    position: absolute;
    right: 0;
    left: 80%;
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: black;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
}

.trip-toggle-button:hover {
    background: #0571b0;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}

.trip-toggle-button:active {
     color:#BBBBBB;
     border-color:#BBBBBB;
}

/* Styling for formatting the stations bar charts */
.hourly-trips {
    margin: auto;
    position: relative;
}

/* Styling for the explanation text */
.content-column {
    max-width: 650px;
    margin: 40px auto;
}

/* Styling for the encasings for the visualizations */
.vis-holder {
    max-width: 1500px;
    margin: 40px auto;
}

/* Styling for the line chart representing data from all Boston stations */
.dataLine {
    stroke: red;
    stroke-width: 5px;
    fill: none;
}

/* Styling for chart axis labels */
.chart-label {
    fill: black;
    font-size: 16px;
}

/* Styling for the legend of the station bar chart */
#legend-all-boston-line {
    fill: red;
}

#legend-chester-sq-bars {
    fill: #7570B3;
}

/* Styling for the bars in the member breakdown double bar chart */
.member-bar {
    fill: #e9a3c9;
}

.customer-bar {
    fill: #a1d76a;
}

/* Styling for the bars in the gender breakdown double bar chart */
.male-bar {
    fill: #66c2a5;
}

.female-bar {
    fill: #fc8d62;
}

.unreported-bar {
    fill: #8da0cb;
}

/* Styling for the legend labels for all graphs */
.legend-text {
    font-size: 15px;
}

/* Styling for mouseover event on the station bar chart */
.mouseover-opacity {
    fill: #7570B3;
    opacity: 0.2;
}

/* Styling for mouseoff event on the station bar chart */
.mouseoff-opacity {
    fill: #7570B3;li
    opacity: 1.0;
}
